* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
    font-family: montserrat, sans-serif;
    font-size: large;
    font-weight: 300;
}

/* hedings and logo */

h2,
h3 {
    color: #000000;
    font-family: open san, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    color: antiquewhite;
    font-family: libre bodoni, serif;
    font-size: 400%;
    font-weight: 400;
    letter-spacing: 3px;
    margin-top: 150px;
    text-align: center;
    text-transform: uppercase;
}

/* hero and menu links*/

#hero {
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-color: #264653;
}

#menu-link {
    font-family: open-san, sans-serif;
    font-size: 200%;
    letter-spacing: 2px;
    margin: 20px 0 20px 0;
    text-align: center;
}

#menu-link li {
    display: inline-block;
    list-style-type: none;
    margin-right: 60px;
}

#menu-link a {
    text-decoration: none;
    color: #000000;
}

#menu-link a:hover {
    border-bottom: 2px solid #000000;
}

.active-page {
    border-bottom: 2px solid #000000;
}