* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    color: #992b15;
    font-family: montserrat, sans-serif;
    font-size: large;
    font-weight: 300;
}

/* hedings and logo */

h1, h2, h3 {
    color: #7a2917;
    font-family: open-san, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    font-size: 300%;
    font-weight: 400;
    text-align: center;
}

/* hero */

#hero {
    height: 600px;
    width: 100%;
    overflow: hidden;
}