* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
    font-family: montserrat, sans-serif;
    font-size: 25px;
    font-weight: 550;
}

/* hedings and logo */

h2,
h3 {
    color: #023047;
    font-family: open san, sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
}

#logo {
    color: antiquewhite;
    font-family: libre bodoni, serif;
    font-size: 400%;
    font-weight: 400;
    letter-spacing: 4px;
    margin-top: 150px;
    text-align: center;
    text-transform: uppercase;
}

/* hero image and menu links*/

#hero {
    height: 400px;
    width: 100%;
    overflow: hidden;
    background-color: #264653;
}

#menu-link {
    color: #023047;
    font-family: open san, sans-serif;
    font-size: 200%;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 20px 0 20px 0;
    text-align: center;
}

#menu-link li {
    display: inline-block;
    list-style-type: none;
    margin-right: 60px;
}

#menu-link a {
    text-decoration: none;
    color: #023047;
}

#menu-link a:hover {
    border-bottom: 2px solid #023047;
}

.active-page {
    border-bottom: 2px solid #023047;
}

/* Introduction section */

hr {
    border-bottom: 2px solid #023047;
    width: 100%;
    margin: 5px 5px;
}

#intro {
    text-align: justify;
    margin: 20px 10px;
}

#right-about {
    float: right;
    width: 30%;
    text-align: center;
    margin: 40px 10px 20px 0;
}

.left-about {
    float: left;
    width: 30%;
    margin: 40px 80px 10px 0;
    text-align: center;
}