* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    color: #992b15;
    font-family: montserrat, sans-serif;
    font-size: large;
    font-weight: 300;
}

/* hedings and logo */

h1,
h2,
h3 {
    color: #7a2917;
    font-family: open-san, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#logo {
    font-size: 300%;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}

/* hero and menu links*/

#hero {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#menu-link {
    font-family: open-san, sans-serif;
    font-size: 200%;
    letter-spacing: 2px;
    margin: 20px 0 20px 0;
    text-align: center;
}

#menu-link li {
    display: inline-block;
    list-style-type: none;
    margin-right: 60px;
}

#menu-link a {
    text-decoration: none;
    color: #7a2917;
}

#menu-link a:hover {
    border-bottom: 2px solid #7a2917;
}

.active-page {
    border-bottom: 2px solid #7a2917;
}