* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
    font-family: montserrat, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

/* hedings and logo */

h2,
h3,
h4 {
    color: #023047;
    font-family: open san, sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
}

#logo {
    color: antiquewhite;
    font-family: libre bodoni, serif;
    font-size: 300%;
    font-weight: 400;
    letter-spacing: 4px;
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;
}

/* hero image and menu links*/

#hero {
    border-radius: 10px;
    height: 250px;
    width: 100%;
    overflow: hidden;
    background-color: #264653;
}

#menu-link {
    color: #023047;
    font-family: open san, sans-serif;
    font-size: 110%;
    letter-spacing: 2px;
    line-height: 20px;
    margin: 20px 0 20px 0;
    text-align: center;
}

#menu-link li {
    display: inline-block;
    list-style-type: none;
    margin-right: 60px;
}

#menu-link a {
    text-decoration: none;
    color: #023047;
}

#menu-link a:hover {
    border-bottom: 2px solid #023047;
}

.active-page {
    border-bottom: 2px solid #023047;
}

/* Introduction section */

.section-hedings {
    text-align: center;
    font-size: 200%;
    line-height: 75%;
    clear: both;
}

hr {
    border-bottom: 2px solid #023047;
    width: 100%;
    margin: 5px 5px;
}

#intro {
    text-align: justify;
    margin: 20px 10px;
    padding: 10px 0;
}

#right-about {
    float: right;
    width: 30%;
    text-align: center;
    margin: 40px 10px 40px 0;
    padding: 10px 0;
}

.left-about {
    float: left;
    width: 30%;
    margin: 40px 80px 40px 0;
    padding: 10px 0;
    text-align: center;
}

.left-right-about {
    font-size: 150%;
}

/* Extra activities */

#activities-times {
    margin: 0 5px;

}

#activities-times div {
    background-color: rgba(30, 70, 83, .7);
    border-radius: 10px;
    width: 14%;
    height: 200px;
    display: inline-block;
    padding-right: 10px;
    vertical-align: top;
    text-align: center;
    border: 2px solid #264653;
    box-sizing: border-box;

}

.times h3 {
    color: antiquewhite;
    margin-top: 5px;

}

.times h4 {
    color: antiquewhite;
}

/* Footer */

footer {
    height: 100px;
}

.social-media {
    text-align: center;
    margin-top: 30px;
}

.social-media li {
    display: inline;
    font-size: 120%;
    margin: 3%;
}

.social-media i {
    color: #023047;
}


/* News page style */

#news-heading {
    text-align: center;
    line-height: 75%;

}

#news-box {
    height: 400px;
    width: 700px;
    margin: auto;
    background-color: rgba(30, 70, 83, .7);
    border: 2px solid antiquewhite;
}

.news-info {
    color: antiquewhite;
    margin: 20px 5px;
    line-height: 100%;
    text-align: center;
}

/* Galery Page */

#galery-page {
    clear: both;
    line-height: 1;
    column-count: 4;
    column-gap: 0;
    overflow: hidden;
}

#galery-image img {
    width: 100%;
}